body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 20px;
  color: #333;
}

h1 {
  color: #b22222;
}

p{
  max-width: 700px;
  line-height: 1.6;
}

ul{
  max-width: 700px;
}

li{
  margin-bottom: 8px;
}

nav {
  margin-bottom: 25px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
  front-weight: bold;
}

nav a:hover {
  color: #b22222;
}

.food-section {
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 700px;
}

.food-section h2 {
  margin-top: 0;
  color: #b22222;
}

.food-image {
  max-width: 100%;
  width: 600px;
  display: block;
  margin: 20px 0;
  border-radius: 10px;
}
