body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 20px;
  color: #333;
}

h1 {
  color: #b22222;
}

p{
  max-width: 700px;
  line-height: 1.6;
}

ul{
  max-width: 700px;
}

li{
  margin-bottom: 8px;
}

nav {
  margin-bottom: 25px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
  front-weight: bold;
}

nav a:hover {
  color: #b22222;
}

.food-section {
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 700px;
}

.food-section h2 {
  margin-top: 0;
  color: #b22222;
}

.food-image {
  max-width: 100%;
  width: 600px;
  display: block;
  margin: 20px 0;
  border-radius: 10px;
}

.ingredients,
.steps {
  margin-left: 20px;
}

.ingredients li,
.steps li {
  margin-bottom: 8px;
}

.food-section h3 {
  margin-top: 15px;
  color: #444;
}

.food-grid {
  display: grid;
  grid-template-colums: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-width: 900px;
}

.food-card {
  background-color: white;
  border: 2px solid #ddd;
  dorder-radius: 12px;
  text-decoration: none;
  color: #333;
  padding: 15px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.food-card img {
  width: 100%;
  border-radius: 8px;
}

.food-card h2 { 
  margin: 10px 0 5px;
  color: #b22222;
}

.food-card p {
  margin: 0;
}

.food-card:hove {
  transform: translateY(-5);
  box-shadow: 0 6px 15 px rgba(0,0,0,0.15);
}
